# ignore directory node_modules
server/node_modules
client/trespass-frontend/node_modules

# ignore root node_modules
/node_modules

# ignore .vscode directory
/.vscode

# ignore .env file
.env
.production.env